<div class="card bg-light mb-3">
    <div class="card-body">
        <h4><%= link_to post.title, post %></h4>

        <div class="text-muted mb-2">
                                        <%#? pucxa data e horario resumido %>
            <em>Por <%= post.created_by.username %> (<%= l post.created_at, format: :short %>)</em>
        </div>
            <%#? exibindo o post e delimitando quantidade de caracteres %>
        <p><%= post.body.truncate(200) %></p>
        
        <p class="text-muted"><%= pluralize(post.comments.count, 'Comnetário') %> </p>

        <%= link_to "Ler artigo", post, class:'btn btn-primary' %>
        <%= link_to "Editar", edit_post_path(post), class:'btn btn-secondary' %>
        <%= link_to "Apagar", post, method: :delete, class:'btn btn-danger', data: { confirm: 'Você tem certeza?'} %>

    </div>
</div>